@font-face {
    font-family: 'MiFuente1'; /* Nombre de la fuente */
    src: url('../fonts/NewShape-BoldOblique.ttf') format('truetype'); /* Ruta de la fuente */
    font-family: 'MiFuente2'; /* Nombre de la fuente */
    src: url('../fonts/RationalInteger.ttf') format('truetype'); /* Ruta de la fuente */
    font-family: 'fuente3';
    src: url('../fonts/Tenderness.otf') format('truetype'); 
    font-family: 'fuente4';
    src: url('../fonts/EtharnigSc.otf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-image: url(../img/img1.png);
    margin: 0;
    background-size: cover; /* Para que la imagen cubra toda la pantalla */
    background-attachment: fixed; /* Para mantener la imagen estatica */
    background-repeat: no-repeat;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.container .cabecera{
    height: 100vh;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.container .cabecera .menu{
    position: absolute;
    height: 80vh;
    width: 25vh;
    /* border: 1px solid #fff; */
    left: 89%;
    display: flex;
    justify-content: end;
    position: fixed;
    z-index: 999;
}
.reloj {
    position: absolute;
    bottom: 10%;
    left: 84.5%;
    z-index: 999;
    color: rgb(21, 255, 0);
    display: flex;
    font-size: 3rem;
    font-family: monospace;
    position: fixed;
  }
  
  .separador {
    margin: 0 0.3rem;
  }
.container .cabecera .menu ul{
    list-style: none;
}
.container .cabecera .menu ul li{
    color: white;
    font-size: 2rem;
    padding: 5.5vh;
    cursor: pointer;
    transition: text-shadow 0.3s ease;
    text-align: center;
}
.container .cabecera .menu ul li a{
    text-decoration: none; /* Elimina el subrayado */
    color: rgb(255, 255, 255); /* Cambia el color a tu elección */
    font-family: 'fuente4';
}
.container .cabecera .menu ul li:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),0 0 20px rgba(255, 255, 255, 0.8);
}
.container .cabecera .menu ul li:target{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),0 0 20px rgba(255, 255, 255, 0.8);
}
.container .cabecera .movable-div {
    width: 900px;
    height: 400px;
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform-origin: center center;
    box-shadow: 0 0 20px rgba(1, 255, 255, 0.5);
    display: flex;
    align-items: center;
}
.container .cabecera .movable-div img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-left: 20px;

}
.container .cabecera .movable-div .titulo_medio{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Centra el texto horizontalmente dentro del h1 */
    height: 100%;
    width: 100%;
}
.container .cabecera .movable-div .titulo_medio h3{
    color: rgb(11, 243, 197);
    font-size: 2rem;
    font-family: 'fuente4'; 
}
.container .cabecera .movable-div .titulo_medio h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-family: 'fuente4'; 
}
.container .cabecera .movable-div .titulo_medio h2{
    color: rgb(4, 255, 17);
    font-size: 1.2rem;
    font-family: 'fuente4'; 
}
.movable-div {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.76), transparent);
}
/***************CONTENIDO****************/

.container .contenido{
    box-shadow: 0 0 10px white;
    height: 100vh;
    display: flex;
}
.container .contenido .img1{
    width:35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.container .contenido .img1 img{
    width: 480px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 0 0 10px white;

}
.container .contenido .cont{
    margin-top: 5.5vh;
    height: 90%;
    width: 49%;
    border-radius: 5px 50px 5px 50px;
    border: 2px solid #f0f0f0;
    background-color: rgba(49, 49, 49, 0.987);
    color: white;
    padding: 20px;
    font-family: 'fuente4';
    display: grid;
    gap: 20px;
    grid-template:
    "n_1    n_2" auto 
    "n_3    n_2" auto
    "n_4    n_2" auto
    "n_5    n_5" auto
;
}
.container .contenido .cont>*{
    background-color: #dde0dc;
    color: #232223;
    box-shadow: 0 0 10px rgb(2, 6, 0);
}
.container .contenido .cont .n_1{
    grid-area: n_1;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 35px 10px 10px 35px;
}
.container .contenido .cont .n_2{
    grid-area: n_2;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 35px 10px 10px 35px;
}
.container .contenido .cont .n_3{
    grid-area: n_3;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 35px 10px 10px 35px;
}
.container .contenido .cont .n_4{
    grid-area: n_4;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 35px 10px 10px 35px;
}
.container .contenido .cont .n_5{
    grid-area: n_5;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 35px 10px 10px 35px;
}
.container .contenido .cont div{
    border: 1px solid #4bdc12;
}
.container .contenido .cont section h1,h2{
    text-align: center;
}
.container .contenido .cont section ul li{
    list-style: none;
}
/******************IMAGENES*****************/
.container #seccion2{
    display: flex;
    height: 100vh;
    box-shadow: 0 0 10px rgb(55, 255, 0);
    align-items: center;    
}
.container #seccion2 .carrucel{
    display: flex;
    width: 1280px;
    height: 700px;
    padding-left: 10vh;
    
}
.container #seccion2 .carrucel img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 30px 5px 30px 5px ;
}
.container #seccion2 .carrucel img:hover{
    cursor: crosshair;
    width: 500px;
    opacity: 1;
    filter: contrast(120%);
}
/*******************EXPERIENCIA****************/
.container #seccion3{
    box-shadow: 0 0 10px #00ffc8;
    height: 100vh;
}
.container #seccion3 .conten{
    width: 83%;
    height: 100vh;
}
.container #seccion3 .conten .expe{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 15px;
    grid-template:
    "nro_1  nro_1   nro_2" auto 
    "nro_3  nro_4   nro_2" auto
    "nro_3  nro_4   nro_5" auto
    "nro_6  nro_4   nro_5" auto
    "nro_6  nro_4   nro_5" auto
    "nro_7  nro_7   nro_7" auto
    ;
}
.container #seccion3 .conten .expe>*{
    box-shadow: 0 0 10px white;
}
.container #seccion3 .conten .expe div img{
    width: 9vw;    /*Tamaño de imagen*/
    height:9vw;     /*Altura automatica*/
}
.container #seccion3 .conten .expe .nro_1{
    grid-area: nro_1;
    background-color: rgb(199, 207, 84);
    border-radius:100px;
    padding: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container #seccion3 .conten .expe .nro_2{
    grid-area: nro_2;
    border-radius:50%;
    padding: 10px;
    background-color: #232223 ;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container #seccion3 .conten .expe .nro_2 img{
    width: 12vw;
}
.container #seccion3 .conten .expe .nro_3{
    grid-area: nro_3;
    border-radius:50px;
    background-color: #b9cdb1;
    padding: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.container #seccion3 .conten .expe .nro_3 img{
    width: 12vw;
}
.container #seccion3 .conten .expe .nro_4{
    grid-area: nro_4;
    border-radius:150px;
    padding: 10px;
    background-color: #79ba5f;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container #seccion3 .conten .expe .nro_4{
    display: grid;
    grid-template: 
    "imgg1  imgg2"auto
    "imgg3  imgg4"auto
    ;
}
.container #seccion3 .conten .expe .nro_5{
    grid-area: nro_5;
    border-radius:50%;
    padding: 10px;
    background-color: rgba(47, 79, 79, 0.834);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container #seccion3 .conten .expe .nro_6{
    grid-area: nro_6;
    border-radius:50px;
    background-color: burlywood;
    padding: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container #seccion3 .conten .expe .nro_7{
    grid-area: nro_7;
    border-radius:150px;
    padding: 10px;
    background-color: rgba(107, 101, 101, 0.668);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*footer*/
footer{
    margin-top: 40px;
    background: #414141;
    padding: 60px 0 30px 0;
    overflow: hidden;

}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;

}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: rgb(158, 152, 152);    
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
/*parte responsiva*/
/* tablet */
@media screen and (max-width:900px) {
    .container .cabecera .menu{
        display: none;
    }
    .reloj {
        font-size: 2.5rem;
        left: 70%;
    }
    .container .cabecera .menu ul li{
        color: white;
        font-size: 2rem;
        padding: 5.5vh;
        cursor: pointer;
        transition: text-shadow 0.3s ease;
        text-align: center;
    }
    .container .cabecera .menu ul li a{
        text-decoration: none; /* Elimina el subrayado */
        color: rgb(255, 255, 255); /* Cambia el color a tu elección */
        font-family: 'fuente4';
    }
    .container .cabecera .menu ul li:hover{
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),0 0 20px rgba(255, 255, 255, 0.8);
    }
    .container .cabecera .menu ul li:target{
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),0 0 20px rgba(255, 255, 255, 0.8);
    }
    .container .cabecera .movable-div {
        width: 700px;
        height: 350px;
    }
    .container .cabecera .movable-div img{
        width: 250px;
        height: 250px;
    
    }
    .container .cabecera .movable-div .titulo_medio h3{
        font-size: 1.5rem;
    }
    .container .cabecera .movable-div .titulo_medio h1{
        font-size: 3rem;
    }
    .container .cabecera .movable-div .titulo_medio h2{
        font-size: 1.2rem; 
    }
    /***************CONTENIDO****************/
    .container .contenido .img1{
        margin-left: 120px;
        width:20%;
        gap: 50px;
    }
    .container .contenido .img1 img{
        width: 350px;
        height: 280px;
    }
    .container .contenido .cont {
        margin-top: 8.5vh;
        margin-left: 14.5vh;width: 90%; /* Reducir el ancho al 90% para tabletas */
        height: 85%;
        width: 64%;
        grid-template:
            "n_1    n_2" auto
            "n_3    n_2" auto
            "n_4    n_2" auto
            "n_5    n_5" auto;
    }

    .container .contenido .cont .n_1,
    .container .contenido .cont .n_2,
    .container .contenido .cont .n_3,
    .container .contenido .cont .n_4,
    .container .contenido .cont .n_5 {
        font-size: 1.4rem; /* Reducir el tamaño de fuente para tabletas */
    }
    .container .contenido .cont div{
        border: 1px solid #4bdc12;
    }
    .container .contenido .cont section h1,h2{
        text-align: center;
    }
    .container .contenido .cont section ul li{
        list-style: none;
    }
    
    .container #seccion2 .carrucel {
        height: 100vh;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */
        width: 90%; /* Reducir el ancho al 90% para tabletas */
        margin: 0 auto; /* Centrar el contenido horizontalmente */
        padding: 40px; /* Eliminar el espaciado izquierdo */
    }

    .container #seccion2 .carrucel img {
        width: 100%; /* Ajustar el ancho de las imágenes al 100% para que sean responsivas */
        max-width: none; /* Restablecer el ancho máximo */
        height: 80%; /* Mantener la relación de aspecto original de las imágenes */
        border-radius: 10px; /* Reducir el radio de borde para tabletas */
    }
    .container #seccion2 .carrucel img:hover {
        /* Anula el efecto de hover en pantallas más pequeñas */
        cursor: auto;
        width: 90%;
        opacity: inherit;
        filter: inherit;
    }
    .container #seccion3 {
        box-shadow: none; /* Elimina la sombra en tabletas */
        height: auto; /* Ajusta la altura automáticamente en tabletas */
    }
    
    .container #seccion3 .conten {
        width: 100%; /* Usa el ancho completo en tabletas */
        height: auto; /* Ajusta la altura automáticamente en tabletas */
    }
    
    .container #seccion3 .conten .expe {
        grid-template:
            "nro_1" auto
            "nro_3" auto
            "nro_4" auto
            "nro_2" auto
            "nro_5" auto
            "nro_6" auto
            "nro_7" auto;
        gap: 10px; /* Reduce el espacio entre elementos en tabletas */
    }
    
    .container #seccion3 .conten .expe>* {
        box-shadow: none; /* Elimina las sombras en tabletas */
        border-radius: 0; /* Elimina la redondez en tabletas */
        padding: 5px; /* Reduce el espacio interno en tabletas */
    }
    
    .container #seccion3 .conten .expe .nro_2 img {
        width: 20%; /* Reduce el tamaño de las imágenes en tabletas */
    }
    
    .container #seccion3 .conten .expe .nro_3 img,
    .container #seccion3 .conten .expe .nro_4 img {
        width: 40%; /* Reduce el tamaño de las imágenes en tabletas */
    }
    
    .container #seccion3 .conten .expe .nro_5,
    .container #seccion3 .conten .expe .nro_6 {
        border-radius: 0; /* Elimina la redondez en tabletas */
        padding: 5px; /* Reduce el espacio interno en tabletas */
    }
}
/* celular */
@media screen and (max-width:500px) {
    /* Agregar estas reglas para hacer que la página sea responsiva en dispositivos móviles */

/* Redefinir estilos generales para dispositivos móviles */
body {
    background-size: cover;
    background-attachment: scroll; /* Cambiar a scroll para dispositivos móviles */
    background-repeat: repeat-y; /* Cambiar a repeat-y para dispositivos móviles */
}

.container .cabecera .menu {
    left: 80%; /* Ajustar la posición del menú para dispositivos móviles */
}

.reloj {
    left: 75%; /* Ajustar la posición del reloj para dispositivos móviles */
}

/* Redefinir estilos de cabecera para dispositivos móviles */
.container .cabecera .movable-div {
    height: 80vh;
    width: 50vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;
}

.container .cabecera .movable-div img {
    width: 70%; /* Ajustar el tamaño de la imagen para dispositivos móviles */
    height: auto; /* Altura automática */
    margin-bottom: 12vh; /* Eliminar el margen izquierdo para dispositivos móviles */
}
.reloj {
    top: 3%;
    left: 60.5%;
    font-size: 2rem;
  }
  
  .separador {
    margin: 0 0.3rem;
  }
.container .cabecera .movable-div .titulo_medio h1 {
    font-size: 3rem; /* Reducir el tamaño de fuente para dispositivos móviles */
}

/* Redefinir estilos de contenido para dispositivos móviles */
.container .contenido {
    flex-direction: column; /* Cambiar a dirección de columna para dispositivos móviles */
}

.container .contenido .img1 {
    width: 100%; /* Ajustar el ancho al 100% para dispositivos móviles */
}

.container .contenido .img1 img {
    width: 80%; /* Ajustar el tamaño de la imagen para dispositivos móviles */
    height: auto; /* Altura automática */
    border-radius: 10px; /* Reducir el radio de borde para dispositivos móviles */
    margin-left: 0; /* Eliminar el margen izquierdo para dispositivos móviles */
}

.container .contenido .cont {
    width: 100%; /* Ajustar el ancho al 100% para dispositivos móviles */
    border-radius: 0; /* Eliminar el radio de borde para dispositivos móviles */
    border: none; /* Eliminar el borde para dispositivos móviles */
    margin-top: 2vh;
    padding: 10px; /* Reducir el relleno para dispositivos móviles */
    gap: 10px; /* Reducir el espacio entre elementos para dispositivos móviles */
}

.container .contenido .cont .n_1,
.container .contenido .cont .n_2,
.container .contenido .cont .n_3,
.container .contenido .cont .n_4,
.container .contenido .cont .n_5 {
    font-size: 1.5rem; /* Reducir el tamaño de fuente para dispositivos móviles */
    border-radius: 5px; /* Reducir el radio de borde para dispositivos móviles */
    padding: 5px; /* Reducir el relleno para dispositivos móviles */
}


}
