@font-face {
    font-family: 'MiFuente1'; /* Nombre de la fuente */
    src: url('../fonts/NewShape-BoldOblique.ttf') format('truetype'); /* Ruta de la fuente */
    font-family: 'MiFuente2'; /* Nombre de la fuente */
    src: url('../fonts/RationalInteger.ttf') format('truetype'); /* Ruta de la fuente */
    font-family: 'fuente3';
    src: url('../fonts/Tenderness.otf') format('truetype'); 

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-image: url(../img/img1.png);
    margin: 0;
    background-size: cover; /* Para que la imagen cubra toda la pantalla */
    background-attachment: fixed; /* Para mantener la imagen estatica */
    background-repeat: no-repeat;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.container .cabecera{
    height: 100vh;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.container .cabecera .menu{
    position: absolute;
    height: 80vh;
    width: 25vh;
    /* border: 1px solid #fff; */
    left: 89%;
    display: flex;
    justify-content: end;
    position: fixed;
    z-index: 999;
}
.container .cabecera .menu ul{
    list-style: none;
}
.container .cabecera .menu ul li{
    color: white;
    font-size: 2.5rem;
    padding: 5.5vh;
    cursor: pointer;
    transition: text-shadow 0.3s ease;
    text-align: center;
}
.container .cabecera .menu ul li a{
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Cambia el color a tu elección */
    font-family: 'MiFuente2';
}
.container .cabecera .menu ul li:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),0 0 20px rgba(255, 255, 255, 0.8);
}
.container .cabecera .movable-div {
    width: 500px;
    height: 400px;
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform-origin: center center;
    box-shadow: 0 0 20px rgba(193, 251, 2, 0.5);
}
.container .cabecera .movable-div .titulo_medio{
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Centra el texto horizontalmente dentro del h1 */
    height: 100%;
}
.container .cabecera .movable-div .titulo_medio h1{
    color: white;
    font-size: 4rem;
    font-family: 'MiFuente1'; 
}
.movable-div {
    background: linear-gradient(45deg, rgba(70, 65, 65, 0.517), transparent);
}
/***************CONTENIDO****************/

.container .contenido{
    border: 1px solid #fff;
    height: 100vh;
    display: flex;
}
.container .contenido .img1{
    width:35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.container .contenido .img1 img{
    width: 480px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 0 0 10px white;

}
.container .contenido .cont{
    margin-top: 5.5vh;
    height: 90%;
    width: 50%;
    border-radius: 5px 50px 5px 50px;
    border: 2px solid #f0f0f0;
    background-color: rgba(49, 49, 49, 0.987);
    color: white;
    padding: 25px;
    font-family: 'fuente3';
}
.container .contenido .cont section h1,h2{
    text-align: center;
}
.container .contenido .cont section ul li{
    list-style: none;
}
/******************IMAGENES*****************/
.container #seccion2{
    display: flex;
    height: 100vh;
    border: 1px solid #29d00cbb;
    align-items: center;    
}
.container #seccion2 .carrucel{
    display: flex;
    width: 1280px;
    height: 700px;
    padding-left: 10vh;
    
}
.container #seccion2 .carrucel img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 30px 5px 30px 5px ;
}
.container #seccion2 .carrucel img:hover{
    cursor: crosshair;
    width: 500px;
    opacity: 1;
    filter: contrast(120%);
}