/* .content {
    text-align: center;
    color: #680f0f; /* Color del texto 
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
} */
